.mobile-nav
    .mobile-nav-button
        a(class="mobile-link-show" href="#" id="button")
    .mobile-nav-show
        a(class="mobile-link" href="#") Úvod
        a(class="mobile-link" href="#") O mne
        a(class="mobile-link" href="#") Galéria
        a(class="mobile-link" href="#") Kontakt