// Main SASS File
@import '../lib/mixins.sass'
@import '../lib/menu.sass'

@font-face
    font-family: 'Courgette'
    src: url('../fonts/Courgette-Regular.ttf')

@font-face
    font-family: 'DryBrush'
    src: url('../fonts/DryBrush.ttf')



*, *:after, *:before
    box-sizing: border-box
    text-decoration: none
    font-family: 'Raleway', sans-serif
    -webkit-margin-before: 0em
    -webkit-margin-after: 0em
body
  margin: 0
  background: #ffffff

.bg-fixed
    width: 100%
    height: 100%
    min-height: 100%
    position: fixed
    z-index: -1
    &.about
        background-image: url('../img/bg-fixed.jpg')
        background-size: cover
    &.gallery
        background-image: url('../img/bg-fixed.jpg')
        background-size: cover
    &.contact
        background-image: url('../img/bg-fixed.jpg')
        background-size: cover
header
    width: 100%
    height: 100vh
    position: relative
    display: flex
    justify-content: center
    align-items: center
    &.page-1
        background-image: url('../img/menu-1.jpg')
        background-size: cover
    &.page-2
        background-image: url('../img/menu-2.jpg')
        background-size: cover
    &.page-3
        background-image: url('../img/menu-3.jpg')
        background-size: cover
    &.page-4
        background-image: url('../img/menu-4.jpg')
        background-size: cover
        flex-direction: column
    

    .title-box
        width: 450px
        height: 200px
        position: relative
        display: flex
        justify-content: center
        align-items: center
        .title
            width: 100%
        +max(800px)
            width: 90%
        p
            color: #616161
            .lom
                font-size: 70px
            .title
                font-size: 30px

section
    width: 90%
    max-width: 1600px
    min-height: 500px
    margin: 0 auto
    padding-top: 100px
    padding-bottom: 50px
    .about
        width: 100%
        min-height: 500px
        display: flex
        flex-flow: row wrap
        .img-1, .img-3
            transform: translateX(20%) // left image divs
        .txt-2, .txt-4
            transform: translateX(40%) // left text divs
        .img-2, .img-4
            transform: translateX(-20%) // right image divs
        .txt-1, .txt-3
            transform: translateX(-40%) // right text divs
        +max(800px)
            flex-flow: column
            .img-1
                order: 1
            .txt-1
                order: 2
            .img-2
                order: 3
            .txt-2
                order: 4
            .img-3
                order: 5
            .txt-3
                order: 6
            .img-4
                order: 7
            .txt-4
                order: 8
            .img-1, .img-3
                transform: translateX(0%) // left image divs
            .txt-2, .txt-4
                transform: translateX(0%) // left text divs
            .img-2, .img-4
                transform: translateX(0%) // right image divs
            .txt-1, .txt-3
                transform: translateX(0%) // right text divs
            
        .txt-1, .txt-2, .txt-3, .txt-4
            z-index: 10
        .text-p
            position: absolute
            width: 100%
            min-height: 100px
            color: #5f5f5f
            padding: 20px
            text-align: justify
            line-height: 22px
            font-size: 14px
            background: #e6e6e6
            transition: .5s opacity ease-in
            +min(800px)
                bottom: 0
            
        .img-box
            width: 50%
            height: 400px
            position: relative
            box-shadow:  0px 15px 59px -8px rgba(0,0,0,0.75)
            +max(800px)
                width: 100%
                height: 250px
        .text-box
            width: 40%
            height: 400px
            position: relative
            +max(800px)
                width: 90%
                height: 150px
                margin: auto
                transform: translateY(-50px)
        .img-1
            background-image: url('../img/about/img-1.jpg')
            background-size: cover
            margin-top: 100px
        .img-2
            background-image: url('../img/about/img-2.jpg')
            background-size: cover
            margin-top: 100px
        .img-3
            background-image: url('../img/about/img-3.jpg')
            background-size: cover
            margin-top: 100px
        .img-4
            background-image: url('../img/about/img-4.jpg')
            background-size: cover
            margin-top: 100px
    .gallery
        width: 100%
        min-height: 500px
        display: flex
        justify-content: center
        flex-wrap: wrap
        .photo-box
            min-width: 0
            margin: 5px
            img.photo
                width: 400px
                max-width: 100%
                max-height: 450px

.page-4
    a
        color: #1e282a
        text-transform: capitalize
        letter-spacing: 3px
        font-weight: 400
        transition: .1s all ease-in-out
        &:hover
            color: #5c74a9
            letter-spacing: 4px
        &.insta
            margin: 10px 0
            font-size: 30px
    h4
        position: absolute
        bottom: 0
        left: 0
        margin-bottom: 20px
        margin-left: 20px
        color: white
        font-weight: 400
        letter-spacing: 2px
        font-size: 12px


// Footer
footer
    width: 90%
    max-width: 1600px
    min-height: 100px
    border-top: 1px solid white
    margin: 100px auto 0px auto
    h1
        text-align: center
        margin: 50px auto
        color: white
        font-size: 1em
        text-transform: uppercase

