doctype html
html(lang="sk")
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title O mne
        link(href="assets/css/main.css", rel="stylesheet")
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700" rel="stylesheet">
    body
        // Included Menu
        include assets/lib/navigation.pug
        // & Included Menu

        header
            .title-box
                p <b class="lom">/<b/><b class="title">O mne</b>
        section
            .about
                .img-box.img-1
                .text-box.txt-1
                    .text-p.object-1 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae accusamus consequatur tenetur minima laboriosam aliquid maiores porro id repellendus adipisci earum sapiente, atque ex sequi maxime nulla labore rem tempora!
                .text-box.txt-2
                    .text-p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae accusamus consequatur tenetur minima laboriosam aliquid maiores porro id repellendus adipisci earum sapiente, atque ex sequi maxime nulla labore rem tempora!
                .img-box.img-2
                .img-box.img-3
                .text-box.txt-3
                    .text-p.object-2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae accusamus consequatur tenetur minima laboriosam aliquid maiores porro id repellendus adipisci earum sapiente, atque ex sequi maxime nulla labore rem tempora!
                .text-box.txt-4
                    .text-p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae accusamus consequatur tenetur minima laboriosam aliquid maiores porro id repellendus adipisci earum sapiente, atque ex sequi maxime nulla labore rem tempora!
                .img-box.img-4
                

        // Included Footer
        include assets/lib/footer.pug
        // & Included Footer


        // Scripts
        script(src="assets/js/jquery-3.2.1.min.js")
        script(src="assets/js/main.js")