doctype html
html(lang="sk")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title About
        link(href="/assets/css/main.css", rel="stylesheet")
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700" rel="stylesheet">
    body
        .bg-img
            img(src="/assets/img/menu-2.jpg")

        header
            a(id="active" href="#")
                .navigation-button
                    p x
        .navigation(id="myDiv")
            a(id="nav-buttons" href="#")
                a(id="nav-button-1" href="index.html")
                    .nav-col-1.nav-cols Úvod
                a(id="nav-button-2" href="about.html")
                    .nav-col-2.nav-cols O mne
                a(id="nav-button-31" href="gallery.html")
                    .nav-col-3.nav-cols Galéria
                a(id="nav-button-4" href="contact.html")
                    .nav-col-4.nav-cols Kontakt

            


        // Scripts
        script(src="/assets/js/jquery-3.2.1.min.js")
        script(src="/assets/js/main.js")