doctype html
html(lang="sk")
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Kontakt
        link(href="assets/css/main.css", rel="stylesheet")
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700" rel="stylesheet">
    body
        .bg-img
            img(src="assets/img/menu-4.jpg")

        header

        // Included Menu
        include assets/lib/navigation.pug
        // & Included Menu
        section
            p Welcome


        // Scripts
        script(src="assets/js/jquery-3.2.1.min.js")
        script(src="assets/js/main.js")